body{
    font-family: font("font3");
    background-color: black;
    color:white;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}

::placeholder{
    color:rgb(163, 151, 151);
   
}

hr{
    border-width: thin;
    border: 1px solid rgb(129, 129, 129);
}