.about{
    height:80vh;
    width: 90%;
    margin: 2em auto;
    display: grid;
  
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    @include mini-laptop{
        width: 70%;
    }
    @include tablet{
        text-align: center;
    }
    .about__heading{
        font-size: 3em;
        margin:.3em 0;
        @include mini-laptop{
            font-size: 3em;
        }
        @include tablet{
            font-size: 2em;
        }
    }
   

    .about__text{
        font-size: 2em;
        font-family: font("font1");
        @include mini-laptop{
            font-size: 1.5em;
        }
        @include tablet{
            font-size: 1.3em;
        }
    }
    img{
        margin: 2em 0;
        width:30%;
        @include mini-laptop{
            width: 70%;
        }
        @include tablet{
            width: 60%;
            margin: 2em auto;
        }
    }
}