.movies{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap:3em;
    grid-column-gap: 1.5em;
    width:90%;
    overflow: hidden;
    margin: 2em auto;
    padding:3em 1em;
    @include mini-laptop{
        grid-template-columns: 1fr 1fr;
    }
    @include tablet{
        grid-template-columns: 1fr;
        text-align: center;
        width:70%;
    }
    .movies__row{
        border-radius: 5px;
        border: 1px solid rgb(240, 240, 240);
        position: relative;
        width: 80%;
        margin: auto;
        height: auto;
       
    
        .movies__item{
            display: grid;
            grid-template-columns: 1fr 2fr;
  
            .movies__data{  
                img{
                    width: 100%;
                    display: block;
                    margin: auto;
                    @include tablet{
                        width: 40%;
                    }
                }
                .movies__title{
                    font-size: 3em;
                    margin:.5em 0;
                    min-width: 40px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .movies__overview{
                    font-size: 1em;
                    min-height: 120px; 
                    font-family: font("font7");
                    @include tablet{
                        font-size: .8em;
                        min-height: 100px; 
                    } 
                    
                    
                }

               

               
            }
        }

        .movies__play-button, .movies__view-button{
         
            border: none;
            padding:.5em;
            border-radius: 5px;
            cursor: pointer;
            margin: .3em;
        }

        .movies__play-button{
            background-color: yellowgreen;
            transition: .5s;
         
            &:hover{
                background-color: red;
                color: white;
            }
        }
        .movies__view-button{
           
            &:hover{
                background-color: rgb(228, 228, 228);
               
            }
        }
    }
}