.movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:3em;
    grid-column-gap: 1.5em;
    width:90%;
    overflow: hidden;
    margin: 2em auto;
    @include mini-laptop{
        grid-template-columns: 1fr 1fr;
    }
    @include tablet{
        grid-template-columns: 1fr;
    }
    .movies__row{
        border-radius: 5px;
        border: 1px solid rgb(240, 240, 240);
        padding:1em;
        height: 100%;
       
    
        .movies__item{
       
  
            .movies__data{
                padding:.5em;
                img{
                    width: 50%;
                    display: block;
                    margin: auto;
                }
                .movies__title{
                    font-size: 1.2em;
                    margin:.5em 0;
                }
                .movies__overview{
                    font-size: .8em;
                    font-family: font("font7");
                }

               

               
            }
        }

        .movies__play-button, .movies__view-button{
            border: none;
            padding:.5em;
            border-radius: 5px;
            cursor: pointer;
            margin: .3em;
        }

        .movies__play-button{
            background-color: yellowgreen;
            transition: .5s;
            &:hover{
                background-color: red;
                color: white;
            }
        }
        .movies__view-button{
            &:hover{
                background-color: rgb(228, 228, 228);
               
            }
        }
    }
}