.search-bar{
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-content: center;
    justify-content: center;
    grid-gap: 1em;
    
    width:90%;
    margin:  auto;
 
    .search-bar__input{
        width: 100%;
        padding:.5em;
        font-size: 1.5em;
        margin:1em auto;
      
        border: 1px solid rgb(231, 231, 231);
        border-radius: 5px;
    }
    
    .search-bar__button{
        width: 70%;
        height: 50%;
        border: none;
        cursor: pointer;
        border-radius: 3px;

        margin: 1.5em auto;
        &:hover{
            background-color: rgb(228, 228, 228);
        }
       
    }
}