.search-bar{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    grid-gap: 1em;
    width:90%;
    margin: 0 auto;
   

    @include mini-laptop{
        grid-template-columns: 8fr 2fr;
    }
    
 
    .search-bar__input{
        background-color: transparent;
        padding:.5em 0;
        font-size: 1.5em;
        margin:1em auto 0em auto;
        border: none;
        border-bottom: 1px solid rgb(231, 231, 231);
        width: 50%;
        transition: .8s;
        text-align: center;
        color:white;
        font-weight: lighter;
      
        &:focus{
            width: 100%;
            outline: none;
        }
    
        @include tablet{
            font-size: 1em;
        }

    }
    

}