.header{
    height: 30vh;
    position: relative;
    display: grid;
    text-align: left;
    @include tablet{
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    
    .header__information{
        padding:1em;
        margin-top: 2%;
        width:50%;
     
        @include mini-laptop{
            margin-top: 0;
            width: 80%;
            margin: auto;
        }
        .header__title{
            font-family: font("font3");
            color:#ffffff;
            font-size: 2.5em;
            text-transform: uppercase;
            @include tablet{
                font-size: 1.4em;
            }
        }
        .header__text{
            margin:1em 0;
            font-family: font("font3");
            font-weight: lighter;
            color: #ffffff;
            @include tablet{
                font-size: .9em;
            }
        }
    }
 
   
}